li.page-item
  - # rubocop:disable Rails/OutputSafety
  == link_to_unless current_page.last?, t('views.pagination.last').html_safe, url, remote: remote, class: 'page-link'
  - # rubocop:enable Rails/OutputSafety
