li.page-item
  - # rubocop:disable Rails/OutputSafety
  == link_to_unless current_page.last?, t('views.pagination.next').html_safe, url, rel: 'next', remote: remote, class: 'page-link'
  - # rubocop:enable Rails/OutputSafety
