li.page-item
  - # rubocop:disable Rails/OutputSafety
  == link_to_unless current_page.first?,
          t('views.pagination.previous').html_safe,
          url,
          rel: 'prev',
          remote: remote,
          class: 'page-link'
  - # rubocop:enable Rails/OutputSafety
